body {
    background-color: grey;
    margin: 0px;
    overflow: hidden;
    font-family: calibri;
    font-size: 13px;
    text-align: center;
    font-weight: bold;

}

.svg {
    width: 100%;
    position: absolute;
    left:0%;
    border:0px solid black;
    display: none;
}

